.category{
    padding: 50px;
    background: linear-gradient(180deg,#fffaf1  0%, #E8C999 90%);
}

.category h1{
    color: #8E1616;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.categorySort{
    padding: 10px 20px;
    border: 1px solid #888;
    border-radius: 40px;
    cursor: pointer;
}

.categoryProducts{
    margin: 5px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 100px;
    gap: 120px;
}

.categoryIndexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}

.categoryIndexSort img{
    width: 20px;
}